extends layout

block content
  h1= title
  p Welcome to #{title}, your personal finance management tool.
  p Use this tool to calculate and track your net worth easily.
  p
    a(href='/login') Login
  p
    a(href='/register') Register
  p
    img(src='/images/finance.jpg', alt='Finance Image')
